## Ques4

In [76]:
import numpy as np
import pandas as pd
import missingno as msn

from sklearn import preprocessing
from sklearn.ensemble import IsolationForest
from sklearn.preprocessing import StandardScaler

In [77]:
df = pd.read_csv("./imports-85.data")

In [78]:
df

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [79]:
df = df.replace("?","Nan")
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,Nan,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,Nan,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,Nan,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

### 4. There are 10 columns in the dataset with non-numeric values. Convert these values to numeric values using following scheme:

### (i) For “num_doors” and “num_cylinders”: convert words (number names) to figures for e.g., two to 2

In [80]:
val_doors = df['num_doors'].unique()
val_cylndr = df['num_cylinders'].unique()

In [81]:
help_dict = {
    "two": 2,
    "three": 3,
    "four": 4,
    "five": 5,
    "six": 6,
    "eight": 8,
    "twelve": 12,
    "Nan": None
}

In [82]:
for i in range(len(df)):
    df['num_doors'][i] = help_dict[df['num_doors'][i]]
    df['num_cylinders'][i] = help_dict[df['num_cylinders'][i]]

df['num_doors'] = pd.to_numeric(df['num_doors'], errors='coerce')
df['num_cylinders'] = pd.to_numeric(df['num_cylinders'], errors='coerce')

<ipython-input-82-86357e7c92bd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['num_doors'][i] = help_dict[df['num_doors'][i]]
<ipython-input-82-86357e7c92bd>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['num_cylinders'][i] = help_dict[df['num_cylinders'][i]]

### (ii) For "body_style", "drive_wheels": use dummy encoding scheme

In [83]:
df2 = pd.get_dummies(df['body_style'])
df = df.drop(['body_style'],axis=1)
df = pd.concat([df, df2], axis=1)


df2 = pd.get_dummies(df['drive_wheels'])
df = df.drop(['drive_wheels'],axis=1)
df = pd.concat([df, df2], axis=1)
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,engine_location,wheel_base,length,width,...,highway_mpg,price,convertible,hardtop,hatchback,sedan,wagon,4wd,fwd,rwd
0,3,Nan,alfa-romero,gas,std,2.0,front,88.6,168.8,64.1,...,27,13495,1,0,0,0,0,0,0,1
1,3,Nan,alfa-romero,gas,std,2.0,front,88.6,168.8,64.1,...,27,16500,1,0,0,0,0,0,0,1
2,1,Nan,alfa-romero,gas,std,2.0,front,94.5,171.2,65.5,...,26,16500,0,0,1,0,0,0,0,1
3,2,164,audi,gas,std,4.0,front,99.8,176.6,66.2,...,30,13950,0,0,0,1,0,0,1,0
4,2,164,audi,gas,std,4.0,front,99.4,176.6,66.4,...,22,17450,0,0,0,1,0,1,0,0

### (iii) For “make”, “aspiration”, “engine_location”,fuel_type: use label encoding scheme

In [84]:
label_encoder = preprocessing.LabelEncoder()
df['make']= label_encoder.fit_transform(df['make'])
df['aspiration']= label_encoder.fit_transform(df['aspiration'])
df['engine_location']= label_encoder.fit_transform(df['engine_location'])
df['fuel_type']= label_encoder.fit_transform(df['fuel_type'])

### (iv) For fuel_system: replace values containing string pfi to 1 else all values to 0.
### (v) For engine_type: replace values containing string ohc to 1 else all values to 0.

In [85]:
df['fuel_system'] = [1 if i.find('pfi')==1 else 0 for i in list(df['fuel_system'])]
df['engine_type'] = [1 if i.find('ohc')==1 else 0 for i in list(df['engine_type'])]

In [86]:
df

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,engine_location,wheel_base,length,width,...,highway_mpg,price,convertible,hardtop,hatchback,sedan,wagon,4wd,fwd,rwd
0,3,Nan,0,1,0,2.0,0,88.6,168.8,64.1,...,27,13495,1,0,0,0,0,0,0,1
1,3,Nan,0,1,0,2.0,0,88.6,168.8,64.1,...,27,16500,1,0,0,0,0,0,0,1
2,1,Nan,0,1,0,2.0,0,94.5,171.2,65.5,...,26,16500,0,0,1,0,0,0,0,1
3,2,164,1,1,0,4.0,0,99.8,176.6,66.2,...,30,13950,0,0,0,1,0,0,1,0
4,2,164,1,1,0,4.0,0,99.4,176.6,66.4,...,22,17450,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,21,1,0,4.0,0,109.1,188.8,68.9,...,28,16845,0,0,0,1,0,0,0,1
201,-1,95,21,1,1,4.0,0,109.1,188.8,68.8,...,25,19045,0,0,0,1,0,0,0,1
202,-1,95,21,1,0,4.0,0,109.1,188.8,68.9,...,23,21485,0,0,0,1,0,0,0,1
203,-1,95,21,0,1,4.0,0,109.1,188.8,68.9,...,27,22470,0,0,0,1,0,0,0,1
204,-1,95,21,1,1,4.0,0,109.1,188.8,68.9,...,25,22625,0,0,0,1,0,0,0,1

## 2. Replace all NaN values with central tendency imputation. Drop the rows with NaN values in price column

In [87]:
idx = df[df["price"]=="Nan"].index
print(idx) # price index with nan values
df = df.drop(idx, axis=0)
df.reset_index(inplace=True)
df = df.drop(['index'],axis=1)
df

Int64Index([9, 44, 45, 129], dtype='int64')

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,engine_location,wheel_base,length,width,...,highway_mpg,price,convertible,hardtop,hatchback,sedan,wagon,4wd,fwd,rwd
0,3,Nan,0,1,0,2.0,0,88.6,168.8,64.1,...,27,13495,1,0,0,0,0,0,0,1
1,3,Nan,0,1,0,2.0,0,88.6,168.8,64.1,...,27,16500,1,0,0,0,0,0,0,1
2,1,Nan,0,1,0,2.0,0,94.5,171.2,65.5,...,26,16500,0,0,1,0,0,0,0,1
3,2,164,1,1,0,4.0,0,99.8,176.6,66.2,...,30,13950,0,0,0,1,0,0,1,0
4,2,164,1,1,0,4.0,0,99.4,176.6,66.4,...,22,17450,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95,21,1,0,4.0,0,109.1,188.8,68.9,...,28,16845,0,0,0,1,0,0,0,1
197,-1,95,21,1,1,4.0,0,109.1,188.8,68.8,...,25,19045,0,0,0,1,0,0,0,1
198,-1,95,21,1,0,4.0,0,109.1,188.8,68.9,...,23,21485,0,0,0,1,0,0,0,1
199,-1,95,21,0,1,4.0,0,109.1,188.8,68.9,...,27,22470,0,0,0,1,0,0,0,1
200,-1,95,21,1,1,4.0,0,109.1,188.8,68.9,...,25,22625,0,0,0,1,0,0,0,1

In [88]:
nan_cols = [i for i in df.columns if len(df[df[i]=="Nan"])!=0]
print(nan_cols)
print(df[nan_cols].dtypes)

for i in nan_cols:
    df[i] = pd.to_numeric(df[i], errors='coerce') # change nan_cols with object type to numeric

# print(df.mean()) # mean of all columns
# df = df.fillna(df.mean())

df['normalized_losses'] = df['normalized_losses'].astype('float64')
df['normalized_losses'].fillna(df['normalized_losses'].median(), inplace = True)
df['normalized_losses'] = df['normalized_losses'].astype('int64')

df['num_doors'] = df['num_doors'].astype('category')
df['num_doors'].fillna(df['num_doors'].mode().iloc[0], inplace = True)

df['bore'] = df['bore'].astype('float64')
df['bore'].fillna(df['bore'].mean(), inplace = True)

df['stroke'] = df['stroke'].astype('float64')
df['stroke'].fillna(df['stroke'].mean(), inplace = True)

df['horsepower'] = df['horsepower'].astype('float64')
df['horsepower'].fillna(df['horsepower'].mean(), inplace = True)
df['horsepower'] = df['horsepower'].astype('int64')

df['peak_rpm'] = df['peak_rpm'].astype('float64')
df['peak_rpm'].fillna(df['peak_rpm'].median(), inplace = True)
df['peak_rpm'] = df['peak_rpm'].astype('int64')


df.head()

['normalized_losses', 'bore', 'stroke', 'horsepower', 'peak_rpm']
normalized_losses    object
bore                 object
stroke               object
horsepower           object
peak_rpm             object
dtype: object

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,engine_location,wheel_base,length,width,...,highway_mpg,price,convertible,hardtop,hatchback,sedan,wagon,4wd,fwd,rwd
0,3,115,0,1,0,2.0,0,88.6,168.8,64.1,...,27,13495,1,0,0,0,0,0,0,1
1,3,115,0,1,0,2.0,0,88.6,168.8,64.1,...,27,16500,1,0,0,0,0,0,0,1
2,1,115,0,1,0,2.0,0,94.5,171.2,65.5,...,26,16500,0,0,1,0,0,0,0,1
3,2,164,1,1,0,4.0,0,99.8,176.6,66.2,...,30,13950,0,0,0,1,0,0,1,0
4,2,164,1,1,0,4.0,0,99.4,176.6,66.4,...,22,17450,0,0,0,1,0,1,0,0

In [89]:
## To see full dataframe
# print(df.to_string())

## 3. Using isolation forest technique (present in sklearn.ensemble) identify outliers present in length column.

In [90]:
random_state = np.random.RandomState(42)
clf = IsolationForest(max_samples=100, random_state=random_state)
clf.fit(df[['length']])

IsolationForest(max_samples=100,
                random_state=RandomState(MT19937) at 0x16444980E40)

In [91]:
outlier = pd.Series(clf.predict(df[['length']]))

In [92]:
df_len = pd.concat([df['length'], outlier], axis=1)
df_len

     length  0
0     168.8  1
1     168.8  1
2     171.2  1
3     176.6  1
4     176.6  1
..      ... ..
196   188.8  1
197   188.8  1
198   188.8  1
199   188.8  1
200   188.8  1

[201 rows x 2 columns]

## 5. Divide the dataset into input features (all columns except price) and output variable (price). Scale all input features.

In [93]:
input_features = df.loc[ : , df.columns != 'price']
output_feature = pd.DataFrame(df['price'])

In [94]:
input_features

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,engine_location,wheel_base,length,width,...,city_mpg,highway_mpg,convertible,hardtop,hatchback,sedan,wagon,4wd,fwd,rwd
0,3,115,0,1,0,2.0,0,88.6,168.8,64.1,...,21,27,1,0,0,0,0,0,0,1
1,3,115,0,1,0,2.0,0,88.6,168.8,64.1,...,21,27,1,0,0,0,0,0,0,1
2,1,115,0,1,0,2.0,0,94.5,171.2,65.5,...,19,26,0,0,1,0,0,0,0,1
3,2,164,1,1,0,4.0,0,99.8,176.6,66.2,...,24,30,0,0,0,1,0,0,1,0
4,2,164,1,1,0,4.0,0,99.4,176.6,66.4,...,18,22,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1,95,21,1,0,4.0,0,109.1,188.8,68.9,...,23,28,0,0,0,1,0,0,0,1
197,-1,95,21,1,1,4.0,0,109.1,188.8,68.8,...,19,25,0,0,0,1,0,0,0,1
198,-1,95,21,1,0,4.0,0,109.1,188.8,68.9,...,18,23,0,0,0,1,0,0,0,1
199,-1,95,21,0,1,4.0,0,109.1,188.8,68.9,...,26,27,0,0,0,1,0,0,0,1
200,-1,95,21,1,1,4.0,0,109.1,188.8,68.9,...,19,25,0,0,0,1,0,0,0,1

In [95]:
output_feature

     price
0    13495
1    16500
2    16500
3    13950
4    17450
..     ...
196  16845
197  19045
198  21485
199  22470
200  22625

[201 rows x 1 columns]

### Input features that needs to be scale = Features other than encoded features.

In [96]:
scale_features = ['symboling', 'normalized_losses', 'num_doors', 'wheel_base', 'length', 'width',
       'height', 'make', 'curb_weight', 'num_cylinders', 'engine_size', 'bore', 'stroke', 'compression_ratio', 'horsepower',
       'peak_rpm', 'city_mpg', 'highway_mpg']

In [97]:
std_scaler = StandardScaler()
input_features[scale_features] = std_scaler.fit_transform(input_features[scale_features])

<ipython-input-97-9ba5d9cdb41a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input_features[scale_features] = std_scaler.fit_transform(input_features[scale_features])
C:\Python\Python38\lib\site-packages\pandas\core\indexing.py:1734: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value[:, i].tolist())

In [98]:
input_features

,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,engine_location,wheel_base,length,width,...,city_mpg,highway_mpg,convertible,hardtop,hatchback,sedan,wagon,4wd,fwd,rwd
0,1.725050,-0.178306,-1.971717,1,0,-1.156378,0,-1.685107,-0.439409,-0.853460,...,-0.652249,-0.542288,1,0,0,0,0,0,0,1
1,1.725050,-0.178306,-1.971717,1,0,-1.156378,0,-1.685107,-0.439409,-0.853460,...,-0.652249,-0.542288,1,0,0,0,0,0,0,1
2,0.127193,-0.178306,-1.971717,1,0,-1.156378,0,-0.710103,-0.244152,-0.185597,...,-0.964397,-0.689386,0,0,1,0,0,0,0,1
3,0.926121,1.351431,-1.811395,1,0,0.864769,0,0.165748,0.195176,0.148335,...,-0.184027,-0.100993,0,0,0,1,0,0,1,0
4,0.926121,1.351431,-1.811395,1,0,0.864769,0,0.099646,0.195176,0.243744,...,-1.120471,-1.277779,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,-1.470664,-0.802689,1.395038,1,0,0.864769,0,1.702619,1.187733,1.436357,...,-0.340101,-0.395189,0,0,0,1,0,0,0,1
197,-1.470664,-0.802689,1.395038,1,1,0.864769,0,1.702619,1.187733,1.388653,...,-0.964397,-0.836484,0,0,0,1,0,0,0,1
198,-1.470664,-0.802689,1.395038,1,0,0.864769,0,1.702619,1.187733,1.436357,...,-1.120471,-1.130681,0,0,0,1,0,0,0,1
199,-1.470664,-0.802689,1.395038,0,1,0.864769,0,1.702619,1.187733,1.436357,...,0.128120,-0.542288,0,0,0,1,0,0,0,1
200,-1.470664,-0.802689,1.395038,1,1,0.864769,0,1.702619,1.187733,1.436357,...,-0.964397,-0.836484,0,0,0,1,0,0,0,1